<section data-ng-controller="SizesController">
  <div class="page-header">
    <h1>Ajouter des formats à la Spécification</h1>
  </div>
  <div class="col-md-12">
    <form name="specForm" class="form-horizontal" ng-submit="create(specForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Numéro de Taille</label>
          <input name="name" type="text" ng-model="nomber" id="title" class="form-control" placeholder="numéro de taille" required>
          <div ng-messages="specForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Titre de l'spécification est nécessaire</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="title">Quantité</label>
          <input name="name" type="text" ng-model="stockInit" id="title" class="form-control" placeholder="Quantité" required>
          <div ng-messages="specForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Titre de l'spécification est nécessaire</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="title">Unités</label>
          <input name="name" type="text" ng-model="units" id="title" class="form-control" placeholder="unités: carton, paquets, rangées" required>
          <div ng-messages="specForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Titre de l'spécification est nécessaire</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
