<section data-ng-controller="SpecsController">
  <div class="page-header">
    <h1>Nouvelle Spécification</h1>
  </div>
  <div class="col-md-12">
    <form name="specForm" class="form-horizontal" ng-submit="create(specForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Nom</label>
          <input name="name" type="text" ng-model="title" id="title" class="form-control" placeholder="nom de spécification" required>
          <div ng-messages="specForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Titre de l'spécification est nécessaire</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="title">Type</label>
          <input name="name" type="text" ng-model="specType" id="title" class="form-control" placeholder="Type de spécification" required>
          <div ng-messages="specForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Titre de l'spécification est nécessaire</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="title">couleur</label>
          <input name="name" type="text" ng-model="color" id="title" class="form-control" placeholder="spécification couleur" required>
          <div ng-messages="specForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Titre de l'spécification est nécessaire</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
