<section ng-controller="SpecsController" ng-init="findOne()">
  <div class="page-header">
    <h4 ng-bind="specification.title"></h4>
    <small>
      <em class="text-muted">
      <label>Type</label> :<span ng-bind="specification.specType"></span>
       <label>Color</label>: <span ng-bind="specification.color"></span>
      </em>
    </small>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == specification.user._id">
    <a class="btn btn-primary" ui-sref="specifications.edit({itemId: specification.item, specId: specification._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>

<section ng-controller="SizesController" ng-init="find()">
  <div class="page-header">
    <h1>liste des tailles</h1>
  </div>
  <div class="list-group" ng-repeat="size in sizes">
    <a  class="list-group-item" ui-sref="sizes.view({itemId: size.item, specId: size.specName, sizeId: size._id})">
      <label>Taille</label>:<h4 class="list-group-item-heading" ng-bind="size.nomber"></h4>
      <small>
        <em class="text-muted">
        <label>Stock initial</label> :<span ng-bind="size.stockInit"></span>
         <label></label><span ng-bind="size.units"></span>
        </em>
      </small>
      <small ng-show="size.stockNow !== 0">
        <em class="text-muted">
        <label>Stock Actuel</label> :<span ng-bind="size.stockNow"></span>
         <label></label><span ng-bind="size.units"></span>
        </em>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center">
    <a ui-sref="sizes.create({itemId: sizes[0].item, specId: sizes[0].specName})">ajouter de nouvelles dimensions</a>
  </div>
</section>
