<section ng-controller="SpecsController" ng-init="find()">
  <div class="page-header">
    <h1></h1>
  </div>
  <div class="list-group">
    <a ng-repeat="specification in specifications" class="list-group-item">
      <!-- <small class="list-group-item-text">
        ajouté le
        <span ng-bind="specification.specName"></span>
        par
        <span ng-bind="specification.user.displayName"></span>
      </small> -->
      <h4 class="list-group-item-heading" ng-bind="specification.item.itemName"></h4>
      <p class="list-group-item-text" ng-bind="specification.specName"></p>
    </a>
  </div>
  <!-- <div class="alert alert-warning text-center" ng-if="item.$resolved && !item.length">
    Aucun articles encore,<a ui-sref="items.create">pourquoi ne pas un</a>?
  </div> -->
</section>
