<section ng-controller="ItemsController" ng-init="find()">
  <div class="page-header">
    <h1></h1>
  </div>
  <div class="list-group">
    <a ng-repeat="item in items" ui-sref="items.view({itemId: item._id})" class="list-group-item">
      <small class="list-group-item-text">
        ajouté le
        <span ng-bind="item.created | date:'mediumDate'"></span>
        par
        <span ng-bind="item.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="item.itemName"></h4>
      <p class="list-group-item-text" ng-bind="article.specifications"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="item.$resolved && !item.length">
    Aucun articles encore,<a ui-sref="items.create">pourquoi ne pas un</a>?
  </div>
</section>
